@charset "utf-8"; /* Evitar problemas de acentuação */

* /* Resetando a pagina */
{
    padding: 0px; /* Espaçamento interno */
    margin: 0px; /* Espaçamento externo */
}

body
{
    background-color: #82b1ff; /* Cor de fundo */
}

#boxPrincipal
{
    margin: 100px auto; /* Espaçamento externo */
    padding: 10px 0; /* Espaçamento interno */
    width: 700px; /* Largura */
    font: 13px verdana, sans-serif;
    background-color: #BBDEFB; /* Cor de fundo */
    box-shadow: 0px 0px 50px rgba(0,0,0,.7); /* Sombra */
    border-radius: 5px; /* Bordas arredondadas */
}

#conteudo
{
    background-color: white; /* Cor de fundo */
    width: 680px; /* Largura */
    height: 600px; /* Altura */
    margin: 0 auto; /* Espaçamento externo */
    border-radius: 5px; /* Bordas arredondadas */
}

header, nav, section
{
    display: block;
}

header h1
{
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ 

    border-bottom: 1px solid #BDBDBD;
    box-shadow: 1px 0px 3px rgba(20,0,0,.7); /* Sombra */
    color: #555555;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul 
{
    list-style: none; /* Tirrando os pontos de marcação da lista */
}

nav#menu ul li
{
    float: left; /* Faz flutuar a esquerda */
    margin-top: 5px;
    display: block;
    height: 30px;
    padding: 0px 30px;
    font-size: 13px;
    line-height: 30px;
    text-align: center;    
    font-weight: bold; /* Deixa em negrito */
    color: #555555;
}

nav ul li a
{
    text-decoration: none; /* Tira o sublinhado */
    color: #000;
    background-color: white;
}

nav ul li a:hover
{
    color: #34ABE0
}

div#menuDeslogar
{
    position: absolute;
    margin: -70px auto;
}

div#menuDeslogar p
{
    margin: 0px;
    padding: 5px;
    text-align: right;
    width: 650px;
    color: #555555;
    font-weight: bold; /* Deixa em negrito */
}

div#menuDeslogar a
{
    text-decoration: none; /* Tira o sublinhado */ 
    color: #000;
}

div#menuDeslogar a:hover
{
    color: #34ABE0
}

/*
nav ul li a.selecionado
{
    background-color: #34ABE0;
    margin-left: 10px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    margin-top: 2px;
}
*/

#botao
{
    float: right;
    padding: 5px 15px;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+1,cde5ee+100 */
    background: #edf6f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #edf6f9 1%, #cde5ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #edf6f9 1%,#cde5ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #edf6f9 1%,#cde5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */


    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;
    cursor: pointer; /* Troca o desenho do cursor */
}

#rodape p
{
    text-align: center; /* Centralizando o texto */
    width: 100%;
    font: bold 12px sans-serif;
    color: white;
    margin: -10px;
    margin-top: -40px;
}

#rodape a
{
    text-decoration: none; /* Tira o sublinhado */
    color: inherit; /* Faz com que o elemento tenha a cor do seu pai */
}
