@charset "utf-8"; /* Evitar problemas de acentuação */

section.dadosEnviados p
{
    width: 650px;
    text-align: center;
    font-weight: bold; /* Deixa em negrito */
}

section.dadosEnviadosEditar p
{
    width: 650px;
    margin: 0px auto;
    text-align: center;
    font-weight: bold; /* Deixa em negrito */
    margin-top: 10px;
    height: 30px;
}

section.erroLogin
{   
    text-align: center;
    color: red;
    text-shadow: 1px 0px 1px white;
}